@{
    ViewBag.Title = "Error";
}

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <p>[Error]: product does not have enough sales data to forecast</p>
    </div>
</body>
</html>
